html, body {
  overflow-x: hidden;
}
* {
  font-family: sans-serif;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 40px;
  opacity: 0;
  transition:0.8s ease-in;
}

.fade-in {
  opacity: 1;
}

.hero-left {
  flex: 1;
}

.hero-title {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 1.2;
}

.hero-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  max-width: 520px;
  line-height: 1.6;
  padding: 10px 0;
  text-align: justify;
}

.consult-button {
  margin-top: 40px;
  padding: 14px 30px;
  background-color: #58a38c;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.consult-button:hover {
  background-color: black;
}

.hero-right {
  flex: 1;
}

.hero-image {
  width: 100%;
  border-radius: 30px;
  height: auto;
  margin: 10px 0;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .hero-container {
    padding: 70px 40px;
    gap: 25px;
  }

  .hero-title {
    font-size: 48px;
  }
}
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    padding: 60px 30px;
    text-align: center;
  }

  .hero-title {
    font-size: 38px;
  }

  .hero-text {
    margin: 15px auto;
    padding: 0;
    width: 100%;
  }

  .hero-right {
    margin-top: 20px;
  }

  .hero-image {
    width: 100%;
    margin-top: 10px;
    object-fit: cover;
  }

  .consult-button {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .hero-title {
    font-size: 30px;
  }

  .hero-text {
    font-size: 13px;
  }

  .consult-button {
    padding: 12px;
    font-size: 15px;
  }
}


.slider-container {
  width: 100%;
  object-fit: contain;
  margin: 5px;
  margin-top: 120px;
  text-align: center;
  position: relative;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  cursor: pointer;
  padding: 15px;
  user-select: none;
  transition: 0.3s ease;
  color: #333;
  z-index: 10;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.15);
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.two-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
}

.slide-card {
  width: 40%;
  text-align: center;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-left: -80px;
  margin-top: 30px;
}

.slide-title {
  font-size: 32px;
  font-weight: 600;

  margin-top: 20px;
  margin-bottom: 15px;
  color: #000;
  margin-left: -80px;
}

.slide-content {
  font-size: 18px;
  color: #444;
  line-height: 1.7;
  max-width: 95%;
  margin: 0 auto;
  margin-left: -40px;
}

@media (max-width: 900px) {
  .hero-title{
    margin-top: 50px;
  }
  .slider-container {
    margin-top: 200px;
  }
  .slide-title{
    font-size: 15px;
    padding: 0px auto;
  }
  .slide-card{
    width: 30%;
  }
  .slide-content{
    font-size: 10px;
    text-align: justify;
  }
  .left{
    font-size: 30px;
    margin: auto auto auto -40px;
  }
  .right{
    font-size: 30px;
   margin: auto  -40px auto auto;
  }
}

/* Categories */

.topBannerSection {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
  overflow-x: hidden;
  margin-top: 110px;
}

.bannerVisible {
  opacity: 1;
}

.topBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 100px;
}

.topBannerTextBox {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: white;
  z-index: 0;
}



.islandShowcase {
  margin-top: 60px;
  padding: 40px 60px;
  display: flex;
  gap: 40px;
  align-items: center;
  background: #f4f4f4;
}

.islandImgGroup {
  display: flex;
  gap: 25px;
}

.islandImgGroup img {
  width: 330px;
  height: 330px;
  border-radius: 12px;
  object-fit: cover;
}

.islandInfoBox {
  max-width: 450px;
}

.islandInfoBox h2 {
  font-size: 34px;
  font-weight: 700;
  color: #023047;
}

.islandInfoBox p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.6;
  color: #555;
}

.viewMoreBtn {
  margin-top: 20px;
  background: #023047;
  color: #fff;
  padding: 12px 40px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.viewMoreBtn:hover {
  background: #023047;
}

@media (max-width: 900px) {

  /* Top Banner */
  .topBannerImage {
    height: auto !important;
    position: relative;
  }
  .topBannerTextBox {
    bottom: 40px;
    left: 20px;
    max-width: 90%;
    text-align: center;
  }
  .topBannerTextBox h1 {
    font-size: 28px;
  }


  .islandShowcase {
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .islandImgGroup {
    flex-direction: column;
    gap: 15px;
  }
  .islandImgGroup img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .islandInfoBox {
    max-width: 100%;
    text-align: center;
  }
  .islandInfoBox h2 {
    font-size: 24px;
  }
  .islandInfoBox p {
    font-size: 14px;
    line-height: 1.5;
  }
  .viewMoreBtn {
    padding: 10px 25px;
    font-size: 14px;
  }
}




.island-container {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background: #f8f9fc;
  margin-top: 120px;
}


.title {
  font-size: 40px;
  margin-top: 100px;
  text-align: left;
  font-weight: 700;
}


.description {
  margin-bottom: 30px;
  color: #555;
  max-width: 900px;
  line-height: 1.6;
  font-size: 16px;
}


.kitchen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}


.kitchen-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  padding-bottom: 20px;
}

.kitchen-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.kitchen-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}


.kitchen-name {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}


.add-btn {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  background: #222;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: #000;
  transform: scale(1.03);
}




.addBtn {
  margin: 10px;
  padding: 10px 18px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background: #444;
}

.addedBtn {
  margin: 10px;
  padding: 10px 18px;
  background: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: default;
}
.viewmore-container {
  padding: 110px 80px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  text-align: center;
}

.viewcard {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: .3s;
}

.viewcard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.viewcard:hover {
  transition: 0.3 ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.link{
  text-decoration: none;
  color: white;
}
.conbtn{
  background-color: #023047;
  width: 150px;
  height: 40px;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  border: none;
  border-radius: 10px;
}


@media (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .viewmore-container {
    padding: 50px 40px;
    margin: 30px auto;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .viewmore-container {
    padding: 20px;
    margin: 60px auto;
  }

  .viewcard img {
    height: 200px;
  }

  .header h1 {
    font-size: 26px;
  }

  .contactBtn {
    width: 80%;
    font-size: 15px;
  }
}