body{
  overflow-x: hidden;
}

/* about */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  margin-bottom: -150px;


}

.fade-in {
  opacity: 1;
}

.hero-left {
  flex: 1;
}


.hero-title {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 8px;   
  line-height: 1.2; 
}

.hero-text {
  margin-top: 20px;
  font-size: 17px;
  color: #555;
  max-width: 520px;
  line-height: 1.6;
  padding: 10px;
  text-align: justify;
   margin-top: 0;  
}

.consult-button {
  margin-top: 30px;
  padding: 14px 30px;
  background-color: #58a38c;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.consult-button:hover {
  background-color: black;
}

.hero-right {
  flex: 1;
}

.hero-image {
  width: 100%;
  border-radius: 30px;
  height: 100%;
  margin: 10px;
  object-fit: contain;
}


@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    padding: 90px 30px;
    text-align: center;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    margin: 20px auto;
  }

  .hero-right {
    margin-top: 30px;
  }
}



.slider-container {
  width: 100%;
  object-fit: contain;
  margin: 5px;
  margin-top: 120px;
  text-align: center;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  cursor: pointer;
  padding: 15px;
  user-select: none;
  transition: 0.3s ease;
  color: #333;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.15);
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}


.two-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
}


.slide-card {
  width: 40%;
  text-align: center;
}


.slide-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-left: -80px;
}


.slide-title {
  font-size: 32px;
  font-weight: 600;
  
  margin-top: 20px;
  margin-bottom: 15px;
  color: #000;
  margin-left: -80px;
}


.slide-content {
  font-size: 18px;
  color: #444;
  line-height: 1.7;
  max-width: 95%;
  margin: 0 auto;
  margin-left: -40px;
}
