body {
  overflow-x: hidden;
}
*{
  font-family: sans-serif;
}
/* about */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  margin-bottom: -150px;
}

.fade-in {
  opacity: 1;
}

.hero-left {
  flex: 1;
}

.hero-title {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 1.2;
}

.hero-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  max-width: 520px;
  line-height: 1.6;
  padding: 10px;
  text-align: justify;
  margin-top: 0;
}

.consult-button {
  margin-top: 40px;
  padding: 14px 30px;
  background-color: #58a38c;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.consult-button:hover {
  background-color: black;
}

.hero-right {
  flex: 1;
}

.hero-image {
  width: 100%;
  border-radius: 30px;
  height: 100%;
  margin: 10px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    padding: 90px 30px;
    text-align: center;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    margin: 20px auto;
  }

  .hero-right {
    margin-top: 30px;
  }
  .hero-image {
    margin-top: -50px;
    align-content: center;
  }

  .consult-button {
    margin-top: -20px;
  }
  .second-section {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    gap: 15px;
    margin-top: 30px;
  }

  .second-section .hero-image {
    width: 100%;
    border-radius: 12px;
    margin: 0;
    object-fit: cover;
  }

  .second-section .hero-title {
    font-size: 22px;
    margin-top: 50px;
  }

  .second-section .hero-text {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .second-section .consult-button {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 13px;
  }
}

.slider-container {
  width: 100%;
  object-fit: contain;
  margin: 5px;
  margin-top: 120px;
  text-align: center;
  position: relative;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  cursor: pointer;
  padding: 15px;
  user-select: none;
  transition: 0.3s ease;
  color: #333;
  z-index: 10;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.15);
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.two-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
}

.slide-card {
  width: 40%;
  text-align: center;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-left: -80px;
  margin-top: 30px;
}

.slide-title {
  font-size: 32px;
  font-weight: 600;

  margin-top: 20px;
  margin-bottom: 15px;
  color: #000;
  margin-left: -80px;
}

.slide-content {
  font-size: 18px;
  color: #444;
  line-height: 1.7;
  max-width: 95%;
  margin: 0 auto;
  margin-left: -40px;
}

@media (max-width: 900px) {
  .slider-container {
    margin-top: 200px;
  }
}

/* Categories */

.topBannerSection {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
  overflow-x: hidden;
  margin-top: 110px;
}

.bannerVisible {
  opacity: 1;
}

.topBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 100px;
}

.topBannerTextBox {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: white;
  z-index: 0;
}



.islandShowcase {
  margin-top: 60px;
  padding: 40px 60px;
  display: flex;
  gap: 40px;
  align-items: center;
  background: #f4f4f4;
}

.islandImgGroup {
  display: flex;
  gap: 25px;
}

.islandImgGroup img {
  width: 330px;
  height: 330px;
  border-radius: 12px;
  object-fit: cover;
}

.islandInfoBox {
  max-width: 450px;
}

.islandInfoBox h2 {
  font-size: 34px;
  font-weight: 700;
  color: #023047;
}

.islandInfoBox p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.6;
  color: #555;
}

.viewMoreBtn {
  margin-top: 20px;
  background: #023047;
  color: #fff;
  padding: 12px 40px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.viewMoreBtn:hover {
  background: #023047;
}


/* Main container */
.island-container {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background: #f8f9fc;
  margin-top: 120px;
}

/* Title */
.title {
  font-size: 40px;
  margin-top: 100px;
  text-align: left;
  font-weight: 700;
}

/* Paragraph */
.description {
  margin-bottom: 30px;
  color: #555;
  max-width: 900px;
  line-height: 1.6;
  font-size: 16px;
}

/* Grid layout */
.kitchen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Card box */
.kitchen-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  padding-bottom: 20px;
}

/* Hover */
.kitchen-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Image */
.kitchen-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Name */
.kitchen-name {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}

/* Button */
.add-btn {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  background: #222;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: #000;
  transform: scale(1.03);
}
