/* home */
.ban{
  width: 100%;
  object-fit: contain;
  margin: 1px;
  overflow-x: hidden;
}
/* whychooseus */
.whycontainer {
  text-align: center;
  padding: 100px 20px;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.why-card {
  width: 180px;
  padding: 25px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
}

.why-icon {
  font-size: 35px;
  color: #e91e63;
}

/* getstarted */

.getstarted img{
  height: 450px;
  width: 100%;
  margin: 10px;
}
.insidecard{
  color: white;
  margin-top: -300px;
  margin-left: 400px;
  padding: 20px;
  
}
.getbtn{
  border: none;
  background-color:#023047;
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 10px;
}